@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind:wght@300;400;500;600;700&family=Reddit+Mono:wght@200..900&display=swap');




.Gallery_main_btns {
    display: flex;
    width: 247px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    border: 1px solid #FFF;
    opacity: 0.6;
    cursor: pointer;
}

.Gallery_main_btns_text {
    color: #FFF;
    text-align: center;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.Gallery_main_btns_active {
    display: flex;
    width: 247px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    border: 1px solid #FFF;
    cursor: pointer;
    background: linear-gradient(92deg, #53B3FA 5.18%, #ABD021 99.12%);
    opacity: unset;
}

.Gallery_main_btns_text_active {
    text-align: center;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #202020;
}

.Gallery_img {
    width: 300px;
    height: 300px;
    will-change: transform;
    transition: transform .2s ease;
    border-radius: 32px;
   

}
.Gallery_li{

   color: #FFF;
text-align: 'center';

font-family: "Exo 2";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


























.mainWrapper{
    overflow: hidden;
    border-radius: 32px
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}

.hoverEffect:hover img{
    transform: scale(1.1);
    
}

.divRef{
    transform: translateY(200px) !important;
    transition: .5s ease-in-out;
}

.mainWrapper:hover .divRef{
    transform: translateY(0px) !important;
}
.hoverEffect:hover img{
    transform: scale(1.1);
  
  }