@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind:wght@300;400;500;600;700&family=Reddit+Mono:wght@200..900&display=swap');




/* top bar */

.top_bar {
    background: linear-gradient(180deg, #2A91DD 0%, rgba(0, 0, 0, 0) 100%);
}

.top_bar_email_text {
    color: rgba(255, 255, 255, 1);
}

.top_bar_divider {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);

}

.top_bar_phn_no {
    color: rgba(255, 255, 255, 1)
}

.top_bar_fb_icon {

    width: 32px !important;
    height: 32px !important;
    opacity: 1 !important;


}

.top_bar_linkedin_icon {
    border: round
}

.top_bar_get_quota_btn {
    color: white;
    border-radius: 43px;
    width: 130px;
    border: none;
    background: linear-gradient(96.58deg, #2589D2 6.11%, #2DC2E3 92.54%);
    height: 40px;

}

.top_bar_icon {
    width: 17.99px !important;
    height: 19.55px !important;

}


/* our mission menu */

.menu {
    margin-top: 0;
}

.logo {
    /* height: 250px;
    width:270px */
    width: 20%
}

.menu-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 11px;
}

.other-menues-active {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: unset;
    margin-left: 1%;
    margin-top: 9%;
    white-space: nowrap;

    cursor: pointer;
}

.other-menues {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 1%;
    margin-top: 9%;
    white-space: nowrap;
    cursor: pointer;
}

.home-menue-active {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: unset;
    margin-left: 6%;
    margin-top: 9%;
    white-space: nowrap;
    cursor: pointer;
}

.home-menue {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 6%;
    margin-top: 9%;
    white-space: nowrap;
    cursor: pointer;
}

.signup-btn {
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 36px;
    border: 2px solid #FFF;
    margin-left: 8%;
    height: 10px;
    margin-top: 3.5%;
    width: 40px;
    background-color: transparent;
    color: white;
    white-space: nowrap;
}

.login-btn {
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 36px;
    border: 2px solid #FFF;
    margin-left: 2%;
    height: 10px;
    margin-top: 3.5%;
    width: 40px;
    color: #2A91DD;
    white-space: nowrap;
}




/* our mission */

.our-mission-btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    background: var(--blue-green-gradient, linear-gradient(92deg, #53B3FA 5.18%, #ABD021 99.12%));
    height: 40px;
    margin-top: 167.54px;
    margin-left: 100px;
}

.our-mission-text {
    color: #202020;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.our-mission-div {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 100px;
}

.our-mission-heading {
    width: 500px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: "Exo 2";
    font-weight: 700;
    word-wrap: break-word;
}

.our-mission-main {
    width: 508px;
    left: 0px;
    top: 181px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Hind;
    font-weight: 400;
    word-wrap: break-word
}

.our-mission-img {
    width: 100%;
    height: 100%;
    position: relative
}

.our-mission-shadow {
    margin-left: 580px;
    fill: #000;
    /* opacity: 0.4; */
    /* filter: blur(10.199999809265137px); */
    width: 150px;
    height: 35px;
    margin-top: -26px;
    /* flex-shrink: 0; */

}

.our-mission-main-image-bg {
    height: 400px !important;
    width: 500px !important;
    border-radius: 532px;
    opacity: 0.3;
    background: #2A91DD;
    filter: blur(100px);
    margin-left: 500px;
    /* margin-right: 100px; */
}

.our-mission-main-image {



    height: 400px !important;
    width: 500px !important;
    margin-left: 350px;
    margin-right: 100px;
    margin-top: -78px;

}

.our-mission-learn-more-btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-top: 370px;
    margin-left: -1px;
    border-radius: 36px;
    border: 2px solid #FFF;
    width: 150px;
    white-space: nowrap;
}

.our-mission-learn-more-text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


/* our visison */

.our-vision-btn {

    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    background: var(--blue-green-gradient, linear-gradient(92deg, #53B3FA 5.18%, #ABD021 99.12%));
    height: 40px;
    margin-top: 167.54px;
    margin-left: 58%;
}

.our-vision-text {
    color: #202020;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.our-vision-div {
    width: 50%;
    height: 50%;
    position: relative;
    margin-left: 58%;
}

.our-vision-heading {
    width: 500px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: "Exo 2";
    font-weight: 700;
    word-wrap: break-word;
}

.our-vision-main {
    width: 508px;
    left: 0px;
    top: 140px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Hind;
    font-weight: 400;
    word-wrap: break-word
}

.our-vision-learn-more-btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-top: 370px;
    margin-left: -1px;
    border-radius: 36px;
    border: 2px solid #FFF;
    width: 150px;
    height: 30%;
}

.our-vision-learn-more-text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.our-vision-img {
    width: 50%;
    height: 50%;
    position: relative;
}

.our-vision-shadow {
    margin-left: 100px;
    fill: #000;
    width: 150px;
    height: 35px;
}

.our-vision-main-image-bg {
    height: 400px !important;
    width: 500px !important;
    border-radius: 532px;
    opacity: 0.3;
    background: #2A91DD;
    filter: blur(100px);
    margin-right: 650px;
    margin-left: 70px;
    margin-top: -990px;
}

.our-vision-main-image {



    height: 400px !important;
    width: 500px !important;
    margin-left: 70px;
    margin-right: 650px;
    margin-top: -490px;

}

.our-vision-tele-shad-1 {
    margin-top: -245px;
    margin-left: 125px;

}

.our-vision-tele-shad-2 {
    margin-top: -200px;
    margin-left: 55px;
}

.our-vision-tele-shad-3 {
    margin-top: -265px;
    margin-left: -25px;
}

/* .rectangle {
    width: 300px;
    height: 382px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1.5px solid #FFF;
    backdrop-filter: blur(5px);
} */

/* .tm-heading {

    color: #FFF;
    font-family: "Exo 2";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.unlock {
    color: #FFF;
    text-align: center;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: Hind !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* our journey */
.testi-para {
    color: #FFF;
    text-align: center;
    font-family: "Exo 2";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


/* cus */
.cus-para {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cus-cards-btns {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.cus-para-2 {
    color: #FFF;
    font-family: Hind;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: sticky
}

.cus-para-div {
    border-radius: 8px;
    border: 1px solid #B6E0FF;
    box-shadow: 0px 0px 8.2px 0px #62D9FF;
}



.cus_height_incr_div_text {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 220px;
}

.question-img {
    zoom: 69%
}

.cu-lm-btn {
    display: flex;
    justify-content: center;
    border-radius: 36px;
    border: 2px solid #FFF;
    width: 150px;
    margin-top: 3%;
    align-items: center;
    height: 50px;


}

.cu-lm-text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* faq */
.faq-lm-btn {
    display: inline-flex;
    padding-top: 12px;
    padding-bottom: 1px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-top: 3%;
    margin-left: -1px;
    border-radius: 36px;
    border: 2px solid #FFF;
    width: 150px;
    white-space: nowrap;
}

.faq-lm-text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .faq-lm-btn {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
} */

.faqs-para {
    color: #FFF;

    font-family: "Exo 2";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.faqs-all-ques {
    display: inline-flex;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    flex-shrink: 0;
    margin-left: 22%;
    width: 50%;
}

.faqs-question {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}

.faqs-text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.faq-plus {
    margin-left: 10px;
    margin-bottom: 2%;
    cursor: pointer;

}

.faqs_height_incr_div_text{
    color: #FFF;
    font-family: Hind;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 500px;
}
/* footer */
.footer-logo-section {
    display: inline-flex;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    width: 30%
}

.logo-white {
    width: 30%
}

.footer-logo-white-para {
    color: #FFF;
    font-family: Hind;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-main-para {
    width: 50%;

}

.footer-menues {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 9%
}


.footer-menu {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
}

.footer-menu-main {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-quote {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}


.footer-menu-2nd {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
}


/* testimonials */

.tmon-para {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tmon-prev-next-btn {
    width: 5%;
    height: 5%;
}

.tmon-name {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tmon-proff {
    color: #FFF;
    font-family: Hind;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* training modules */


.tmod_card_main {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    border-radius: 16px;
    border: 1.5px solid #FFF;
    cursor: pointer;

}

.tmod_card_logo {
    width: 25%;
}

.tmod_card_title {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tmod_card_desc {
    color: #FFF;
    /* width: 100%; */
    /* height: 100%; */
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.tmod_card_title_anime {

    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(97deg, #2589D2 6.11%, #2DC2E3 92.54%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tmod_card_desc_anime {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tmod_para {
    color: #FFF;
    text-align: center;
    font-family: "Exo 2";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50%;

}

.tmod_para_main {
    width: 1030px;
    display: flex;
    justify-content: center;
}

.tmod_semi_para {
    color: #FFF;
    text-align: center;
    font-family: Hind;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

}

.tmod_semi_para_main {
    width: 1030px;
    display: flex;
    justify-content: center;

}

.tmod_view_btn {
    display: flex;
    height: 54px;
    padding: 9px 7px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 28px;
    background: linear-gradient(97deg, #2589D2 6.11%, #2DC2E3 92.54%)
}

.tmod_view_btn_2nd_div {
    display: flex;
    height: 54px;
    padding: 9px 7px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 28px;
    align-items: center;

}

.tmod_view_btn_text {
    color: #FFF;
    font-family: "Exo 2";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.tmod_view_btn_vector {
    width: 10px;
    height: 13px;
    transform: rotate(1deg);
    stroke-width: 2.5px;
    stroke: #FFF;
    margin-top: 2%;
}